:root {
  /* CSS HEX */
  --eggshell: #f4f1deff;
  --terra-cotta: #e07a5fff;
  --independence: #3d405bff;
  --green-sheen: #81b29aff;
  --deep-champagne: #f2cc8fff;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 10px;
}

.body-container {
  margin: 0;
  line-height: 2;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
  background-color: var(--independence);
  margin: 1vh;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--independence);
}

.home {
  display: flex;
  align-items: center;
}

.home:hover,
.highscores:hover {
  background-color: var(--eggshell);
}

.logo-img {
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;
}
.highscores {
  text-decoration: none;
  color: var(--eggshell);
  background-color: var(--green-sheen);
  border-radius: 40rem;
  padding: 1rem;
  margin: 1rem;
}

.timer {
  color: var(--eggshell);
  background-color: var(--terra-cotta);
  display: flex;
  flex-direction: row;
}

.main {
  flex-grow: 2;
}

.h1 {
  text-align: center;
  color: var(---terra-cotta);
  text-transform: capitalize;
}

.start-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.start-btn {
  text-decoration-style: none;
  background-color: var(--independence);
  color: #ffffff;
}

.answer-options {
  list-style: none;
}

.answer-option {
  text-decoration-style: none;
  background-color: var(--green-sheen);
  margin: 1rem;
  text-align: center;
}

.footer {
  display: flex;
}

@media screen and (max-width: 576px) {
  .header,
  .nav-container {
    display: flex;
    flex-direction: column;
  }
}
